USE [AM_CRM_DB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 26-02-2026 7.40.18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AcademicYear]    Script Date: 26-02-2026 7.40.18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AcademicYear](
	[AcademicYearId] [int] IDENTITY(1,1) NOT NULL,
	[YearLabel] [nvarchar](max) NULL,
	[IsActive] [bit] NULL,
	[CreatedOn] [datetime2](7) NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[ModifiedOn] [datetime2](7) NULL,
	[ModifiedBy] [nvarchar](max) NULL,
 CONSTRAINT [PK_AcademicYear] PRIMARY KEY CLUSTERED 
(
	[AcademicYearId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AdmissionAllocation]    Script Date: 26-02-2026 7.40.18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdmissionAllocation](
	[AllocationId] [int] IDENTITY(1,1) NOT NULL,
	[ApplicantId] [int] NULL,
	[SeatMatrixId] [int] NULL,
	[QuotaId] [int] NULL,
	[AllocatedAt] [datetime2](7) NULL,
	[Confirmed] [bit] NULL,
	[IsActive] [bit] NULL,
	[CreatedOn] [datetime2](7) NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[ModifiedOn] [datetime2](7) NULL,
	[ModifiedBy] [nvarchar](max) NULL,
 CONSTRAINT [PK_AdmissionAllocation] PRIMARY KEY CLUSTERED 
(
	[AllocationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AdmissionMode]    Script Date: 26-02-2026 7.40.19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdmissionMode](
	[AdmissionModeId] [int] IDENTITY(1,1) NOT NULL,
	[AdmissionType] [nvarchar](max) NULL,
	[IsActive] [bit] NULL,
	[CreatedOn] [datetime2](7) NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[ModifiedOn] [datetime2](7) NULL,
	[ModifiedBy] [nvarchar](max) NULL,
 CONSTRAINT [PK_AdmissionMode] PRIMARY KEY CLUSTERED 
(
	[AdmissionModeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ApplicantForm]    Script Date: 26-02-2026 7.40.19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApplicantForm](
	[ApplicantId] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[DOB] [datetime2](7) NULL,
	[Category] [nvarchar](max) NULL,
	[EntryTypeId] [int] NULL,
	[AdmissionModeId] [int] NULL,
	[ProgramId] [int] NULL,
	[AcademicYearId] [int] NULL,
	[QuotaId] [int] NULL,
	[Marks] [decimal](18, 2) NULL,
	[DocumentStatus] [nvarchar](max) NULL,
	[FeeStatus] [nvarchar](max) NULL,
	[AdmissionNumber] [nvarchar](max) NULL,
	[IsActive] [bit] NULL,
	[CreatedOn] [datetime2](7) NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[ModifiedOn] [datetime2](7) NULL,
	[ModifiedBy] [nvarchar](max) NULL,
 CONSTRAINT [PK_ApplicantForm] PRIMARY KEY CLUSTERED 
(
	[ApplicantId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Apps]    Script Date: 26-02-2026 7.40.19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Apps](
	[AppID] [int] IDENTITY(1,1) NOT NULL,
	[AppName] [nvarchar](max) NOT NULL,
	[AppRoute] [nvarchar](max) NULL,
	[ClientId] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[ModifiedOn] [datetime2](7) NULL,
	[ModifiedBy] [nvarchar](max) NULL,
 CONSTRAINT [PK_Apps] PRIMARY KEY CLUSTERED 
(
	[AppID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuthTokenHistories]    Script Date: 26-02-2026 7.40.19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuthTokenHistories](
	[TokenHistoryID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [uniqueidentifier] NOT NULL,
	[Token] [nvarchar](max) NOT NULL,
	[EmailAddress] [nvarchar](max) NOT NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[ExpireOn] [datetime2](7) NOT NULL,
	[UsedOn] [datetime2](7) NULL,
	[IsUsed] [bit] NOT NULL,
	[Comment] [nvarchar](max) NULL,
 CONSTRAINT [PK_AuthTokenHistories] PRIMARY KEY CLUSTERED 
(
	[TokenHistoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Campus]    Script Date: 26-02-2026 7.40.19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Campus](
	[CampusId] [int] IDENTITY(1,1) NOT NULL,
	[InstitutionId] [int] NULL,
	[CampusName] [nvarchar](max) NULL,
	[City] [nvarchar](max) NULL,
	[IsActive] [bit] NULL,
	[CreatedOn] [datetime2](7) NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[ModifiedOn] [datetime2](7) NULL,
	[ModifiedBy] [nvarchar](max) NULL,
 CONSTRAINT [PK_Campus] PRIMARY KEY CLUSTERED 
(
	[CampusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clients]    Script Date: 26-02-2026 7.40.19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clients](
	[Id] [nvarchar](450) NOT NULL,
	[Secret] [nvarchar](max) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[ApplicationType] [int] NOT NULL,
	[Active] [bit] NOT NULL,
	[RefreshTokenLifeTime] [int] NOT NULL,
	[AllowedOrigin] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Clients] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Department]    Script Date: 26-02-2026 7.40.19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[DepartmentId] [int] IDENTITY(1,1) NOT NULL,
	[CampusId] [int] NULL,
	[DepartmentName] [nvarchar](max) NULL,
	[IsActive] [bit] NULL,
	[CreatedOn] [datetime2](7) NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[ModifiedOn] [datetime2](7) NULL,
	[ModifiedBy] [nvarchar](max) NULL,
 CONSTRAINT [PK_Department] PRIMARY KEY CLUSTERED 
(
	[DepartmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DocumentExtensions]    Script Date: 26-02-2026 7.40.19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DocumentExtensions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Extensions] [nvarchar](max) NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[CreatedOn] [datetime2](7) NULL,
	[ModifiedBy] [nvarchar](max) NULL,
	[ModifiedOn] [datetime2](7) NULL,
 CONSTRAINT [PK_DocumentExtensions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DocumentMaster]    Script Date: 26-02-2026 7.40.19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DocumentMaster](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DocumentId] [nvarchar](max) NULL,
	[DocumentType] [nvarchar](max) NULL,
	[DocumentExtention] [nvarchar](max) NULL,
	[DocumentName] [nvarchar](max) NULL,
	[DocumentPath] [nvarchar](max) NULL,
	[DocumentURL] [nvarchar](max) NULL,
	[DocumentNameId] [int] NULL,
	[DocumentXeroxOrOriginal] [nvarchar](max) NULL,
	[CreatedOn] [datetime2](7) NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[ModifiedOn] [datetime2](7) NULL,
	[ModifiedBy] [nvarchar](max) NULL,
	[InitiationId] [int] NULL,
	[DocumentReadStatus] [bit] NULL,
 CONSTRAINT [PK_DocumentMaster] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmailConfiguration]    Script Date: 26-02-2026 7.40.19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmailConfiguration](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ServerAddress] [nvarchar](max) NOT NULL,
	[MailAddress] [nvarchar](max) NOT NULL,
	[UserName] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[IncomingIMAPPort] [nvarchar](max) NOT NULL,
	[IncomingPOP3Port] [nvarchar](max) NOT NULL,
	[OutgoingPort] [nvarchar](max) NOT NULL,
	[IsSSL] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_EmailConfiguration] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EntryType]    Script Date: 26-02-2026 7.40.19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EntryType](
	[EntryTypeId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[IsActive] [bit] NULL,
	[CreatedOn] [datetime2](7) NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[ModifiedOn] [datetime2](7) NULL,
	[ModifiedBy] [nvarchar](max) NULL,
 CONSTRAINT [PK_EntryType] PRIMARY KEY CLUSTERED 
(
	[EntryTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Institution]    Script Date: 26-02-2026 7.40.19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Institution](
	[InstitutionId] [int] IDENTITY(1,1) NOT NULL,
	[InstitutionName] [nvarchar](max) NULL,
	[InstitutionCode] [nvarchar](max) NULL,
	[IsActive] [bit] NULL,
	[CreatedOn] [datetime2](7) NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[ModifiedOn] [datetime2](7) NULL,
	[ModifiedBy] [nvarchar](max) NULL,
 CONSTRAINT [PK_Institution] PRIMARY KEY CLUSTERED 
(
	[InstitutionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MailBodyConfigurations]    Script Date: 26-02-2026 7.40.19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MailBodyConfigurations](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MailType] [nvarchar](max) NOT NULL,
	[MailBody] [nvarchar](max) NOT NULL,
	[MailSubject] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_MailBodyConfigurations] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NewsAndNotifications]    Script Date: 26-02-2026 7.40.19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NewsAndNotifications](
	[NID] [int] IDENTITY(1,1) NOT NULL,
	[NTital] [nvarchar](max) NULL,
	[NDate] [datetime2](7) NULL,
	[NDescription] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedOn] [datetime2](7) NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[ModifiedOn] [datetime2](7) NULL,
	[ModifiedBy] [nvarchar](max) NULL,
 CONSTRAINT [PK_NewsAndNotifications] PRIMARY KEY CLUSTERED 
(
	[NID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[otpConfiguration]    Script Date: 26-02-2026 7.40.19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[otpConfiguration](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[method] [nvarchar](max) NULL,
	[send_to] [nvarchar](max) NULL,
	[msg] [nvarchar](max) NULL,
	[msg_type] [nvarchar](max) NULL,
	[userid] [nvarchar](max) NULL,
	[auth_scheme] [nvarchar](max) NULL,
	[password] [nvarchar](max) NULL,
	[v] [nvarchar](max) NULL,
	[format] [nvarchar](max) NULL,
 CONSTRAINT [PK_otpConfiguration] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PasswordResetOtpHistorys]    Script Date: 26-02-2026 7.40.19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PasswordResetOtpHistorys](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](max) NULL,
	[MobileNo] [nvarchar](max) NULL,
	[OTP] [nvarchar](max) NOT NULL,
	[OTPIsActive] [bit] NOT NULL,
	[CreatedBy] [nvarchar](max) NOT NULL,
	[CreatedOn] [datetime2](7) NULL,
	[ExpiryOn] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_PasswordResetOtpHistorys] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProgramBranch]    Script Date: 26-02-2026 7.40.19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProgramBranch](
	[ProgramId] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentId] [int] NULL,
	[ProgramName] [nvarchar](max) NULL,
	[CourseType] [nvarchar](max) NULL,
	[IsActive] [bit] NULL,
	[CreatedOn] [datetime2](7) NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[ModifiedOn] [datetime2](7) NULL,
	[ModifiedBy] [nvarchar](max) NULL,
 CONSTRAINT [PK_ProgramBranch] PRIMARY KEY CLUSTERED 
(
	[ProgramId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Quota]    Script Date: 26-02-2026 7.40.19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quota](
	[QuotaId] [int] IDENTITY(1,1) NOT NULL,
	[SeatMatrixId] [int] NULL,
	[Name] [nvarchar](max) NULL,
	[TotalQuota] [int] NULL,
	[RemainingQuota] [int] NULL,
	[IsActive] [bit] NULL,
	[CreatedOn] [datetime2](7) NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[ModifiedOn] [datetime2](7) NULL,
	[ModifiedBy] [nvarchar](max) NULL,
 CONSTRAINT [PK_Quota] PRIMARY KEY CLUSTERED 
(
	[QuotaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoleAppMaps]    Script Date: 26-02-2026 7.40.19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleAppMaps](
	[RoleID] [uniqueidentifier] NOT NULL,
	[AppID] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[ModifiedOn] [datetime2](7) NULL,
	[ModifiedBy] [nvarchar](max) NULL,
 CONSTRAINT [PK_RoleAppMaps] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC,
	[AppID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 26-02-2026 7.40.19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleID] [uniqueidentifier] NOT NULL,
	[RoleName] [nvarchar](max) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[ModifiedOn] [datetime2](7) NULL,
	[ModifiedBy] [nvarchar](max) NULL,
	[ClientId] [nvarchar](max) NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SeatMatrix]    Script Date: 26-02-2026 7.40.19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SeatMatrix](
	[SeatMatrixId] [int] IDENTITY(1,1) NOT NULL,
	[ProgramId] [int] NULL,
	[AcademicYearId] [int] NULL,
	[EntryTypeId] [int] NULL,
	[AdmissionModeId] [int] NULL,
	[TotalSeats] [int] NULL,
	[RemainingSeats] [int] NULL,
	[IsActive] [bit] NULL,
	[CreatedOn] [datetime2](7) NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[ModifiedOn] [datetime2](7) NULL,
	[ModifiedBy] [nvarchar](max) NULL,
 CONSTRAINT [PK_SeatMatrix] PRIMARY KEY CLUSTERED 
(
	[SeatMatrixId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserLoginHistory]    Script Date: 26-02-2026 7.40.19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserLoginHistory](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [uniqueidentifier] NOT NULL,
	[UserName] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[LoginTime] [datetime2](7) NOT NULL,
	[LogoutTime] [datetime2](7) NULL,
 CONSTRAINT [PK_UserLoginHistory] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRoleMaps]    Script Date: 26-02-2026 7.40.19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoleMaps](
	[UserID] [uniqueidentifier] NOT NULL,
	[RoleID] [uniqueidentifier] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[ModifiedOn] [datetime2](7) NULL,
	[ModifiedBy] [nvarchar](max) NULL,
 CONSTRAINT [PK_UserRoleMaps] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC,
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 26-02-2026 7.40.19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [uniqueidentifier] NOT NULL,
	[RoleID] [nvarchar](max) NULL,
	[RoleName] [nvarchar](max) NULL,
	[UserName] [nvarchar](max) NULL,
	[FullName] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[InstituteOrBranch] [nvarchar](max) NULL,
	[Status] [nvarchar](max) NULL,
	[EmailStatus] [bit] NULL,
	[Password] [nvarchar](max) NULL,
	[Pass1] [nvarchar](max) NULL,
	[Pass2] [nvarchar](max) NULL,
	[Pass3] [nvarchar](max) NULL,
	[Pass4] [nvarchar](max) NULL,
	[Pass5] [nvarchar](max) NULL,
	[LastChangedPassword] [nvarchar](max) NULL,
	[IsLocked] [bit] NOT NULL,
	[IsLockDuration] [datetime2](7) NULL,
	[Attempts] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[ModifiedOn] [datetime2](7) NULL,
	[ModifiedBy] [nvarchar](max) NULL,
	[joiningDate] [nvarchar](max) NULL,
	[ClientId] [nvarchar](max) NULL,
	[ProfilePath] [nvarchar](max) NULL,
	[PicDbPath] [nvarchar](max) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260224065614_InitialCreate', N'8.0.0')
GO
SET IDENTITY_INSERT [dbo].[AcademicYear] ON 

INSERT [dbo].[AcademicYear] ([AcademicYearId], [YearLabel], [IsActive], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy]) VALUES (1, N'2024–2025', 1, CAST(N'2026-02-25T00:52:13.8211530' AS DateTime2), N'1385E15A-BD66-4CFE-A975-C7B9826123A8', NULL, NULL)
INSERT [dbo].[AcademicYear] ([AcademicYearId], [YearLabel], [IsActive], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy]) VALUES (2, N'2025–2026', 1, CAST(N'2026-02-25T00:52:25.4152068' AS DateTime2), N'1385E15A-BD66-4CFE-A975-C7B9826123A8', NULL, NULL)
INSERT [dbo].[AcademicYear] ([AcademicYearId], [YearLabel], [IsActive], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy]) VALUES (3, N'2026–2027', 1, CAST(N'2026-02-25T00:53:18.1033398' AS DateTime2), N'1385E15A-BD66-4CFE-A975-C7B9826123A8', NULL, NULL)
SET IDENTITY_INSERT [dbo].[AcademicYear] OFF
GO
SET IDENTITY_INSERT [dbo].[AdmissionAllocation] ON 

INSERT [dbo].[AdmissionAllocation] ([AllocationId], [ApplicantId], [SeatMatrixId], [QuotaId], [AllocatedAt], [Confirmed], [IsActive], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy]) VALUES (1, 1, 1, 1, CAST(N'2026-02-25T05:55:07.2419190' AS DateTime2), 1, 1, CAST(N'2026-02-25T05:55:07.2864342' AS DateTime2), N'1385E15A-BD66-4CFE-A975-C7B9826123A8', NULL, NULL)
SET IDENTITY_INSERT [dbo].[AdmissionAllocation] OFF
GO
SET IDENTITY_INSERT [dbo].[AdmissionMode] ON 

INSERT [dbo].[AdmissionMode] ([AdmissionModeId], [AdmissionType], [IsActive], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy]) VALUES (1, N'Government', 1, CAST(N'2026-02-25T00:55:43.5184522' AS DateTime2), N'1385E15A-BD66-4CFE-A975-C7B9826123A8', NULL, NULL)
INSERT [dbo].[AdmissionMode] ([AdmissionModeId], [AdmissionType], [IsActive], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy]) VALUES (2, N'Management', 1, CAST(N'2026-02-25T00:56:08.7739893' AS DateTime2), N'1385E15A-BD66-4CFE-A975-C7B9826123A8', NULL, NULL)
INSERT [dbo].[AdmissionMode] ([AdmissionModeId], [AdmissionType], [IsActive], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy]) VALUES (3, N'NRI', 1, CAST(N'2026-02-25T00:56:23.5852463' AS DateTime2), N'1385E15A-BD66-4CFE-A975-C7B9826123A8', NULL, NULL)
SET IDENTITY_INSERT [dbo].[AdmissionMode] OFF
GO
SET IDENTITY_INSERT [dbo].[ApplicantForm] ON 

INSERT [dbo].[ApplicantForm] ([ApplicantId], [FirstName], [LastName], [DOB], [Category], [EntryTypeId], [AdmissionModeId], [ProgramId], [AcademicYearId], [QuotaId], [Marks], [DocumentStatus], [FeeStatus], [AdmissionNumber], [IsActive], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy]) VALUES (4, N'Arun', N'Reddy', CAST(N'2002-04-23T00:00:00.0000000' AS DateTime2), N'OBC', 1, 1, 1, 3, 3, CAST(88.34 AS Decimal(18, 2)), N'Submitted', N'Pending', NULL, 1, CAST(N'2026-02-26T19:23:38.3196382' AS DateTime2), N'1385E15A-BD66-4CFE-A975-C7B9826123A8', NULL, NULL)
SET IDENTITY_INSERT [dbo].[ApplicantForm] OFF
GO
SET IDENTITY_INSERT [dbo].[Apps] ON 

INSERT [dbo].[Apps] ([AppID], [AppName], [AppRoute], [ClientId], [IsActive], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy]) VALUES (1, N'Dashboard', N'/dashboard', N'amcrmApp', 1, CAST(N'2026-02-24T14:12:35.8000000' AS DateTime2), N'Admin', NULL, NULL)
INSERT [dbo].[Apps] ([AppID], [AppName], [AppRoute], [ClientId], [IsActive], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy]) VALUES (2, N'Institution Master', N'/institution-master', N'amcrmApp', 1, CAST(N'2026-02-24T14:12:35.8000000' AS DateTime2), N'Admin', NULL, NULL)
INSERT [dbo].[Apps] ([AppID], [AppName], [AppRoute], [ClientId], [IsActive], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy]) VALUES (3, N'Campus Master', N'/campus-master', N'amcrmApp', 1, CAST(N'2026-02-24T14:12:35.8000000' AS DateTime2), N'Admin', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Apps] OFF
GO
SET IDENTITY_INSERT [dbo].[Campus] ON 

INSERT [dbo].[Campus] ([CampusId], [InstitutionId], [CampusName], [City], [IsActive], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy]) VALUES (1, 1, N'GEC Main Campus', N'Bengaluru', 1, CAST(N'2026-02-25T00:44:24.6939160' AS DateTime2), N'1385E15A-BD66-4CFE-A975-C7B9826123A8', NULL, NULL)
INSERT [dbo].[Campus] ([CampusId], [InstitutionId], [CampusName], [City], [IsActive], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy]) VALUES (2, 1, N'GEC North Campus', N'Tumakuru', 1, CAST(N'2026-02-25T00:46:50.1742068' AS DateTime2), N'1385E15A-BD66-4CFE-A975-C7B9826123A8', NULL, NULL)
INSERT [dbo].[Campus] ([CampusId], [InstitutionId], [CampusName], [City], [IsActive], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy]) VALUES (3, 3, N'NIT Central Campus', N'Surathkal', 1, CAST(N'2026-02-25T00:47:11.4458712' AS DateTime2), N'1385E15A-BD66-4CFE-A975-C7B9826123A8', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Campus] OFF
GO
INSERT [dbo].[Clients] ([Id], [Secret], [Name], [ApplicationType], [Active], [RefreshTokenLifeTime], [AllowedOrigin]) VALUES (N'amcrmApp', N'5YV7M1r981yoGhELyB84aC+KiYksxZf1OY3++C1CtRM=', N'Dotnet 8 Api Service Application', 0, 1, 7200, N'*')
GO
SET IDENTITY_INSERT [dbo].[Department] ON 

INSERT [dbo].[Department] ([DepartmentId], [CampusId], [DepartmentName], [IsActive], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy]) VALUES (1, 1, N'Computer Science', 1, CAST(N'2026-02-25T00:49:07.7083816' AS DateTime2), N'1385E15A-BD66-4CFE-A975-C7B9826123A8', NULL, NULL)
INSERT [dbo].[Department] ([DepartmentId], [CampusId], [DepartmentName], [IsActive], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy]) VALUES (3, 2, N'Electronics & Comm', 1, CAST(N'2026-02-25T00:49:28.3941174' AS DateTime2), N'1385E15A-BD66-4CFE-A975-C7B9826123A8', NULL, NULL)
INSERT [dbo].[Department] ([DepartmentId], [CampusId], [DepartmentName], [IsActive], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy]) VALUES (4, 3, N'Electrical Engineering', 1, CAST(N'2026-02-25T00:49:41.5492731' AS DateTime2), N'1385E15A-BD66-4CFE-A975-C7B9826123A8', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Department] OFF
GO
SET IDENTITY_INSERT [dbo].[DocumentExtensions] ON 

INSERT [dbo].[DocumentExtensions] ([Id], [Extensions], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn]) VALUES (1, N'.pdf', N'Admin', CAST(N'2025-10-13T05:26:01.7733333' AS DateTime2), N'Admin', CAST(N'2025-10-13T05:26:01.7733333' AS DateTime2))
INSERT [dbo].[DocumentExtensions] ([Id], [Extensions], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn]) VALUES (2, N'.jpg', N'Admin', CAST(N'2025-10-13T05:26:01.7733333' AS DateTime2), N'Admin', CAST(N'2025-10-13T05:26:01.7733333' AS DateTime2))
INSERT [dbo].[DocumentExtensions] ([Id], [Extensions], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn]) VALUES (3, N'.jpeg', N'Admin', CAST(N'2025-10-13T05:26:01.7733333' AS DateTime2), N'Admin', CAST(N'2025-10-13T05:26:01.7733333' AS DateTime2))
SET IDENTITY_INSERT [dbo].[DocumentExtensions] OFF
GO
SET IDENTITY_INSERT [dbo].[DocumentMaster] ON 

SET IDENTITY_INSERT [dbo].[DocumentMaster] OFF
GO
SET IDENTITY_INSERT [dbo].[EntryType] ON 

INSERT [dbo].[EntryType] ([EntryTypeId], [Name], [IsActive], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy]) VALUES (1, N'Regular', 1, CAST(N'2026-02-25T00:54:21.0101834' AS DateTime2), N'1385E15A-BD66-4CFE-A975-C7B9826123A8', NULL, NULL)
INSERT [dbo].[EntryType] ([EntryTypeId], [Name], [IsActive], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy]) VALUES (2, N'Lateral', 1, CAST(N'2026-02-25T00:54:38.4255190' AS DateTime2), N'1385E15A-BD66-4CFE-A975-C7B9826123A8', NULL, NULL)
INSERT [dbo].[EntryType] ([EntryTypeId], [Name], [IsActive], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy]) VALUES (3, N'Transfer', 1, CAST(N'2026-02-25T00:54:54.8344332' AS DateTime2), N'1385E15A-BD66-4CFE-A975-C7B9826123A8', NULL, NULL)
SET IDENTITY_INSERT [dbo].[EntryType] OFF
GO
SET IDENTITY_INSERT [dbo].[Institution] ON 

INSERT [dbo].[Institution] ([InstitutionId], [InstitutionName], [InstitutionCode], [IsActive], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy]) VALUES (1, N'Global Engineering College', N'GEC', 1, CAST(N'2026-02-25T00:21:14.0579047' AS DateTime2), N'65501B0A-BF10-4475-AA75-BD14B866BFC7', NULL, NULL)
INSERT [dbo].[Institution] ([InstitutionId], [InstitutionName], [InstitutionCode], [IsActive], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy]) VALUES (3, N'National Institute of Technology', N'NIT', 1, CAST(N'2026-02-25T00:43:03.7909255' AS DateTime2), N'65501B0A-BF10-4475-AA75-BD14B866BFC7', NULL, NULL)
INSERT [dbo].[Institution] ([InstitutionId], [InstitutionName], [InstitutionCode], [IsActive], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy]) VALUES (4, N'Sunrise University', N'SU', 1, CAST(N'2026-02-25T00:43:36.2118578' AS DateTime2), N'65501B0A-BF10-4475-AA75-BD14B866BFC7', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Institution] OFF
GO
SET IDENTITY_INSERT [dbo].[MailBodyConfigurations] ON 

SET IDENTITY_INSERT [dbo].[MailBodyConfigurations] OFF
GO
SET IDENTITY_INSERT [dbo].[ProgramBranch] ON 

INSERT [dbo].[ProgramBranch] ([ProgramId], [DepartmentId], [ProgramName], [CourseType], [IsActive], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy]) VALUES (1, 1, N'B.Tech Computer Science', N'UG', 1, CAST(N'2026-02-25T00:50:40.9761867' AS DateTime2), N'1385E15A-BD66-4CFE-A975-C7B9826123A8', NULL, NULL)
INSERT [dbo].[ProgramBranch] ([ProgramId], [DepartmentId], [ProgramName], [CourseType], [IsActive], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy]) VALUES (2, 1, N'M.Tech Computer Science', N'PG', 1, CAST(N'2026-02-25T00:50:53.2201399' AS DateTime2), N'1385E15A-BD66-4CFE-A975-C7B9826123A8', NULL, NULL)
INSERT [dbo].[ProgramBranch] ([ProgramId], [DepartmentId], [ProgramName], [CourseType], [IsActive], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy]) VALUES (3, 2, N'B.Tech Mechanical', N'UG', 1, CAST(N'2026-02-25T00:51:00.8190612' AS DateTime2), N'1385E15A-BD66-4CFE-A975-C7B9826123A8', NULL, NULL)
SET IDENTITY_INSERT [dbo].[ProgramBranch] OFF
GO
SET IDENTITY_INSERT [dbo].[Quota] ON 

INSERT [dbo].[Quota] ([QuotaId], [SeatMatrixId], [Name], [TotalQuota], [RemainingQuota], [IsActive], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy]) VALUES (1, 1, N'KCET', 72, 71, 1, CAST(N'2026-02-25T10:42:25.0368310' AS DateTime2), N'1385E15A-BD66-4CFE-A975-C7B9826123A8', NULL, NULL)
INSERT [dbo].[Quota] ([QuotaId], [SeatMatrixId], [Name], [TotalQuota], [RemainingQuota], [IsActive], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy]) VALUES (2, 1, N'COMEDK', 36, 36, 1, CAST(N'2026-02-25T10:43:13.8261558' AS DateTime2), N'1385E15A-BD66-4CFE-A975-C7B9826123A8', NULL, NULL)
INSERT [dbo].[Quota] ([QuotaId], [SeatMatrixId], [Name], [TotalQuota], [RemainingQuota], [IsActive], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy]) VALUES (3, 1, N'Supernumerary', 12, 12, 1, CAST(N'2026-02-25T10:43:33.4450513' AS DateTime2), N'1385E15A-BD66-4CFE-A975-C7B9826123A8', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Quota] OFF
GO
INSERT [dbo].[RoleAppMaps] ([RoleID], [AppID], [IsActive], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy]) VALUES (N'6fb1d9d2-3d3d-4dc3-9952-056f06040918', 1, 1, CAST(N'2026-02-24T14:18:21.4863357' AS DateTime2), NULL, NULL, NULL)
INSERT [dbo].[RoleAppMaps] ([RoleID], [AppID], [IsActive], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy]) VALUES (N'6fb1d9d2-3d3d-4dc3-9952-056f06040918', 2, 1, CAST(N'2026-02-24T14:18:21.5125511' AS DateTime2), NULL, NULL, NULL)
INSERT [dbo].[RoleAppMaps] ([RoleID], [AppID], [IsActive], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy]) VALUES (N'6fb1d9d2-3d3d-4dc3-9952-056f06040918', 3, 1, CAST(N'2026-02-24T14:18:21.5158355' AS DateTime2), NULL, NULL, NULL)
GO
INSERT [dbo].[Roles] ([RoleID], [RoleName], [IsActive], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy], [ClientId]) VALUES (N'6fb1d9d2-3d3d-4dc3-9952-056f06040918', N'Admin', 1, CAST(N'2026-02-24T14:18:21.1904044' AS DateTime2), N'Admin', NULL, NULL, N'amcrmApp')
INSERT [dbo].[Roles] ([RoleID], [RoleName], [IsActive], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy], [ClientId]) VALUES (N'bd2b35fe-77f7-430d-ba95-a6bc2c45c67b', N'Users', 1, CAST(N'2026-02-25T23:50:55.5885739' AS DateTime2), N'65501b0a-bf10-4475-aa75-bd14b866bfc7', NULL, NULL, N'amcrmApp')
INSERT [dbo].[Roles] ([RoleID], [RoleName], [IsActive], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy], [ClientId]) VALUES (N'2b21deae-e256-4145-949e-d5f42ffc99a7', N'Management', 1, CAST(N'2026-02-24T14:20:45.4918240' AS DateTime2), N'Admin', NULL, NULL, N'amcrmApp')
GO
SET IDENTITY_INSERT [dbo].[SeatMatrix] ON 

INSERT [dbo].[SeatMatrix] ([SeatMatrixId], [ProgramId], [AcademicYearId], [EntryTypeId], [AdmissionModeId], [TotalSeats], [RemainingSeats], [IsActive], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy]) VALUES (1, 1, 3, 1, 1, 120, 119, 1, CAST(N'2026-02-25T10:32:27.5730475' AS DateTime2), N'1385E15A-BD66-4CFE-A975-C7B9826123A8', CAST(N'2026-02-25T10:33:59.8041693' AS DateTime2), N'1385E15A-BD66-4CFE-A975-C7B9826123A8')
INSERT [dbo].[SeatMatrix] ([SeatMatrixId], [ProgramId], [AcademicYearId], [EntryTypeId], [AdmissionModeId], [TotalSeats], [RemainingSeats], [IsActive], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy]) VALUES (2, 1, 3, 1, 2, 30, 30, 1, CAST(N'2026-02-25T10:34:44.7590802' AS DateTime2), N'1385E15A-BD66-4CFE-A975-C7B9826123A8', NULL, NULL)
INSERT [dbo].[SeatMatrix] ([SeatMatrixId], [ProgramId], [AcademicYearId], [EntryTypeId], [AdmissionModeId], [TotalSeats], [RemainingSeats], [IsActive], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy]) VALUES (3, 2, 3, 1, 1, 90, 90, 1, CAST(N'2026-02-25T10:36:21.8528567' AS DateTime2), N'1385E15A-BD66-4CFE-A975-C7B9826123A8', NULL, NULL)
SET IDENTITY_INSERT [dbo].[SeatMatrix] OFF
GO
SET IDENTITY_INSERT [dbo].[UserLoginHistory] ON 

INSERT [dbo].[UserLoginHistory] ([ID], [UserID], [UserName], [Email], [LoginTime], [LogoutTime]) VALUES (1, N'6c9d0a63-1019-400f-8453-987bfa9f97d0', N'Madhu', N'madhudb098@gmail.com', CAST(N'2026-02-24T14:37:16.8100369' AS DateTime2), NULL)
INSERT [dbo].[UserLoginHistory] ([ID], [UserID], [UserName], [Email], [LoginTime], [LogoutTime]) VALUES (2, N'518c2cf7-f2e1-414d-a1ef-60ab6886419f', N'Management1', N'Management1@gmail.com', CAST(N'2026-02-24T14:40:49.2298975' AS DateTime2), NULL)
INSERT [dbo].[UserLoginHistory] ([ID], [UserID], [UserName], [Email], [LoginTime], [LogoutTime]) VALUES (3, N'1385e15a-bd66-4cfe-a975-c7b9826123a8', N'Admission Officer1', N'Admissionofficer1@gmail.com', CAST(N'2026-02-24T14:41:04.1644409' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[UserLoginHistory] OFF
GO
INSERT [dbo].[UserRoleMaps] ([UserID], [RoleID], [IsActive], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy]) VALUES (N'518c2cf7-f2e1-414d-a1ef-60ab6886419f', N'2b21deae-e256-4145-949e-d5f42ffc99a7', 1, CAST(N'2026-02-24T14:40:17.6018513' AS DateTime2), NULL, NULL, NULL)
INSERT [dbo].[UserRoleMaps] ([UserID], [RoleID], [IsActive], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy]) VALUES (N'6c9d0a63-1019-400f-8453-987bfa9f97d0', N'6fb1d9d2-3d3d-4dc3-9952-056f06040918', 1, CAST(N'2026-02-24T14:36:12.6712757' AS DateTime2), NULL, NULL, NULL)
INSERT [dbo].[UserRoleMaps] ([UserID], [RoleID], [IsActive], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy]) VALUES (N'65501b0a-bf10-4475-aa75-bd14b866bfc7', N'6fb1d9d2-3d3d-4dc3-9952-056f06040918', 1, CAST(N'2026-02-24T14:39:15.2797040' AS DateTime2), NULL, NULL, NULL)
GO
